# Игнорировать файлы, связанные с Docker
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose*.yml

# Игнорировать файл .env, содержащий конфиденциальные переменные окружения
.env

# Игнорировать кэш-файлы Python
__pycache__/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать файлы, связанные с Git
.git
.gitignore

# Игнорировать файлы журналов
*.log
